
/* Intro */
.about-Intro-container {
  height: 100vh;
  scroll-snap-align: center;
  font-family: 'Inter', sans-serif;}

  .intro-content{
    display: flex;
    justify-content: space-around;
  }

.btn-get-started{
  margin: 5% 2%;
    padding: 2% 3%;
  border-radius: 80px;
  background-color:rgba(190, 129, 131,1);
  color: white;
  border: none;
}
.btn-get-started:hover{
  margin: 5% 2%;
  background-color:rgba(190, 129, 131,0.8);
  color: white;
  border: none;

}
.intro-curve {
  content: "";
  top: 60px;
  right: 0;
  height: 100vh;
  display: block;
  position: absolute;
  width: 45%;
  border-radius: 55% 1%;
  opacity: 0.2;
  background-color: rgb(217, 119, 128);
  z-index: -1;
  animation: introcurveAnimation 4s ease-out; /* Adjust the animation duration as needed */
}
@keyframes introcurveAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
.intro-curve-2 {
  content: "";
  left: 0;
  height: 100vh;
  display: block;
  position: absolute;
  width: 55%;
  border-radius: 55% 1%;
  opacity: 0.7;
  background-color: rgb(244, 196, 187);
  z-index: -1;
  animation: visioncurveAnimation 4s ease-out; /* Adjust the animation duration as needed */
}
@keyframes visioncurveAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
.intro-content-1 {
  padding-top: 5%;
  width: 60%;
}
.intro-content-2 {
  display: inline-block;
  padding-top: 15%;
  animation: textanimation 2s linear forwards;

}
@keyframes textanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-image {
  width: 80%;
}
/* about.css */
.intro-heading{
  animation: waveAnimation 2s linear forwards;
  font-family: 'Inter', sans-serif;
  font-weight: 700;


}
.intro-image-container {
  position: absolute;
  object-fit: contain;
  margin: 4% 0 0 6%;
  width: 30%;
  height: 250px;
  animation: waveAnimation 2s linear forwards;
}
@keyframes waveAnimation {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-20%);
    opacity: 1;
  }
}

.intro-img-animation-container {
  position: relative;
  margin: -40% 0 0 -40%;
  height: 800px;
  opacity: 0.7;
  z-index: -1;
  animation: sphereAnimation 2s ease-out; /* Adjust the animation duration as needed */
}
@keyframes sphereAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
/* Why */
.about-Why-container {
  height: 100vh;

  padding: 5% 10% ;
  scroll-snap-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-out; /* Add a transition for a smooth animation */
}
.about-Why-container.visible{
  opacity: 1;
  visibility: visible;
}
.why-content-2{
  display: flex;
  justify-content: space-around;
    padding-top: 2%;

}
.why-sub-content{
    border-radius: 5% 30%;
    padding: 2% 4% 4%;
    width: 30%;
}
.sub-content-title{
  font-size: 20px;
  font-weight: 600;
  height: 70px;
  padding-top: 2%;
}
/* vision */
/* CSS for the Vision component */
.about-Vision-container {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease-out; /* Add a transition for a smooth animation */
}

/* Add a class to make the content inside the container visible when the container is in view */
.about-Vision-container.visible {
  opacity: 1;
  visibility: visible;
}
.vision-content-1 {
  font-weight: 400;
  width: 50%;
  margin: 10% 3%;
  padding: 5%;
}
.vision-content-2 {
  margin: 5% 0px;
  width: 40%;
  text-align: center;
}
.our-vision-heading-1{
  display: none;
}

.our-vision-heading-2{
  margin-bottom: 5%;
  font-weight: 700;
}
.vision-image-container {
  position: absolute;
  object-fit: contain;
  height: 500px;
  margin: 2% 0;
}
.vision-image {
  width: 80%;
}
.vision-img-animation-container {
  margin: 4% 0;
  position: relative;
  height: 400px;
  opacity: 0.5;
  z-index: -1;
}
.contact-main {
  margin-top: 10%;
  height: 10vh;
  scroll-snap-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-out; /* Add a transition for a smooth animation */
}
.contact-main.visible {
  opacity: 1;
  visibility: visible;
}
.about-Contact-container{
    text-align: center;
    padding: 10% 10% 0 10% ;
}
.community-image-container{
  position: absolute;
  margin: -10% 0 0 58%;
  z-index: -2;
}
.contact-curve-1{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.contact-curve-2{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: -3;
}
.copyright-container{
position: absolute;
margin: 20% 0 0 46%;
color: rgb(82, 82, 82);

}
.contact-link{
  color: gray;
  text-decoration: none;
}
/* dsefse
faef
szefc
cefds
efdsf
zdsf */

@media (max-width: 1000px) {
  /* Intro */
.about-Intro-container {
  height: max-content;
  scroll-snap-align: center;
  font-family: 'Inter', sans-serif;
}
  .intro-content{
    display: block;
  }
.btn-get-started{
  margin: 5% 2%;
  padding: 4% 5%;
  border-radius: 10px;
  background-color:rgba(190, 129, 131,1);
  color: white;
  border: none;
}
.btn-get-started:hover{
  margin: 5% 2%;
  background-color:rgba(190, 129, 131,0.8);
  color: white;
  border: none;

}
.intro-curve {
display: none;
}


.intro-curve-2 {
  display: none;
}
.intro-content-1 {
  text-align: center;
  padding-top: 5%;
  width: 100%;
}
.intro-content-2 {
  display:block;
  padding: 5% 5% 0% 5% ;
  animation: textanimation 2s linear forwards;
}
@keyframes textanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-image {
  width: 150%;
}
.intro-heading{
  padding-top: 10px;
  animation: waveAnimation 2s linear forwards;
  font-family: 'Inter', sans-serif;
  font-weight: 700;


}
.intro-image-container {
  position: absolute;
  object-fit: contain;
  margin: -2% 0 0  25%;
  width: 30%;
  height: 150px;
  animation: waveAnimation 2s linear forwards;
}
@keyframes waveAnimation {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-20%);
    opacity: 1;
  }
}

.intro-img-animation-container {
  position: relative;
  margin: -70% 0 0 2%;
  height: 440px;
  opacity: 0.7;
  z-index: -1;
  animation: sphereAnimation 2s ease-out; /* Adjust the animation duration as needed */
}
@keyframes sphereAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
/* why */
.about-Why-container {
  padding: 0% 10% ;
  scroll-snap-align: center;
  height: max-content;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-out; /* Add a transition for a smooth animation */
}
.about-Why-container.visible{
  opacity: 1;
  visibility: visible;
}
.why-content-2{
   display: block;
    padding-top: 0%;
   margin: 0% !important;
}
.why-sub-content{
    border-radius: 20px 10px;
    padding: 4% 2%;
    margin: 2% 0;
    width: 100%;
}
/* vision */
/* CSS for the Vision component */
.about-Vision-container {
  height:max-content;
  scroll-snap-align: center;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease-out; /* Add a transition for a smooth animation */
}

/* Add a class to make the content inside the container visible when the container is in view */
.about-Vision-container.visible {
  opacity: 1;
  visibility: visible;
}
.vision-content-1 {
  font-weight: 400;
  width: 100%;
  margin: 10% 5%;
  padding: 10% 15% 0 2%;
}
.vision-content-2 {
  margin-top: 5%;
  width: 40%;
  text-align: center;
}
.our-vision-heading-1{
  display: block;
  padding:0%;
}
.our-vision-heading-2{
  display: none;
}
.vision-image-container {
  position: absolute;
  object-fit: contain;
  height:100px;
  margin-top: 4%;
}
.vision-image {
  margin-top: -40px;
  width: 50%;
}
.vision-img-animation-container {
  margin: 0px 0 0 110px;
  width: 100%;
  position: relative;
  height: 150px;
  opacity: 0.5;
}
.sub-content-title{
  font-size: 19px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  padding: 4% 0%;
}
.sub-content-info{
  display: none;
}
.contact-main {
  scroll-snap-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-out; /* Add a transition for a smooth animation */
}
.contact-main.visible {
  opacity: 1;
  visibility: visible;
}
.about-Contact-container{
    text-align: center;
}
.community-image-container{
  display: none;
  z-index: -2;
}
.contact-curve-1{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.contact-curve-2{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: -3;
}
.copyright-container{
color: rgb(82, 82, 82);
margin: 17% 0 0 35%;
font-size: 12px;



}
.contact-link{
  color: gray;
  text-decoration: none;
}
}
