/* noteItem */
.del-edit-btn{
    cursor: pointer;
}
.card-title{
    font-size: 18px;
    font-weight: 600;
}
.date{
    margin: 1% 15% 1% 0;
    font-size: 11px;
    font-weight: 400;
}
.hr-title{
    margin: 0px;
    color: rgb(174, 174, 174);
    width: 25%;
}
.card-text{
    padding-top: 1%;
    min-height: 80px;
}
.date-tag{
    font-size: 14px;
    margin-bottom: 0%;
    height: 20px;
}


/* Alert */
.close-btn-alert{
    border: none;
    background-color: transparent;
}
/* Navigation Bar */
    .navbar-container {
        position: sticky;
        top: 0;
        height: 65px;
        z-index: 100; /* Ensure the navbar stays above other content */
        background-color: whitesmoke; /* Set the desired background color */
        border-bottom: 1px solid rgb(231, 231, 231);
        box-shadow: 0px 1px 5px #00000033;
    }

.navbar-brand{
    padding-left: 2%;
    font-family: 'League Spartan', sans-serif;
    font-size: 28px;
}
.navbar-nav{
    margin-left: 5%;
}
.span-navbar-brand{
    font-weight: 700;
    color: rgb(190,129,131);
}
.auth-btn-container{
    padding-right: 5%;
}
.auth-btn-container-mob{
display: none;}
/* form position */
.auth-form{
    width: 70%;
}
.add-note-form{
    margin-top: 7.8%;
    border: none !important;
    border-bottom: 1px solid rgb(212, 212, 212) !important;
    border-radius: 0%;
    font-size: 25px;
}


.add-note-form:focus {
    outline: none !important;
    border-bottom: 1px solid rgb(212, 212, 212) !important;
} 
.add-note-form-description{
    border: none !important;
    border-radius: 0%;
    width: 600px;
    resize: none;
    overflow: scroll;
}
.add-note-form-description::-webkit-scrollbar {
    display: none;
  }
.add-note-form-description:focus {
    outline: none !important;
    border-radius: 5px;
    background-color:rgb(245, 245, 245) ;
} 
/* .tag-label{
    padding-top: 10%;
} */
.tag-input{
    width: 50%;
}
.my-notes-btn{
    display: none;
}
.btn-editnote{
    color: rgba(190, 129, 131,1);
    border: 1px solid rgba(190, 129, 131,0.8) ;
}
.btn-addnote{
    background-color:rgba(190, 129, 131,1);
    color: white;
    border: none;
}
.btn-addnote:disabled{
    background-color:rgba(190, 129, 131,0.8);
    color: white;
    border: none;
}
.btn-addnote:hover{
    background-color:rgba(190, 129, 131,0.9);
    color: white;
    border: none;
}
.btn-editnote:hover{
    color: rgba(190, 129, 131,0.7) ;
    border: 1px solid rgba(190, 129, 131,0.6) ;
}

.edit-delete-btn{
    padding-top: 30%;
}
.logout-btn{
    height: 40px !important;
}
/* LeftNavbar */
.left-navbar {
    width: 15% !important;
    border-right: 2px solid rgba(190, 129, 131,0.3);
    height: 650px;
    overflow: auto; 
}

.left-navbar::-webkit-scrollbar {
    width: 4px; 
}

.left-navbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px; 
}

.left-navbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.left-navbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
}
.note-detail-container{
    width: 80%;
}
.leftside-home-container{
    display: flex;
    justify-content: start;
    height: 500px;
}
.addnote-container{
    padding: 1%;
    width: 100%;
}
/* note detail */
.detail-container{
    width: 90%;
    padding: 3% 1%;
    height: 500px;

}
.detail-title{
    border: none !important;
}

/* Alertbox */
.alert-box{
    width: 20%;
    margin:1% 0 0 40%;
    height: 60px;
    z-index: 10;
}

.alert-container{
    background-color:rgba(190, 129, 131,0.4) ;
    border: 1px solid rgba(190, 129, 131,0.45);
    border-radius: 15px 0px 15px 0px;
    animation: fadeIn 2s ease ;

}
@keyframes fadeIn {
    0% {opacity: 1;}
    20% {opacity: 0.8;}
    40% {opacity: 0.6;}
    100% {opacity: 0;}
 } 


 /* gvyfuhj
 hetdgfx
 thegrfdsc
 trgfd */
 @media (max-width: 1000px){

.navbar-container{
        width: 100%;
        height: 50px;


}.navbar-expand-lg{
    background-color: whitesmoke;
}
.navbar-collapse{
    padding: 5% 0;
}
.auth-btn-container{
    display: none;
}
.auth-btn-container-mob{
    display: block;
    margin-right: 5%;
}
.mob-option-toggler{
    display: none;
}
.my-notes-btn{
    display: block;
    text-decoration: none;
    margin-top: 10%;
    color: black;
    border: 2px solid rgba(190, 129, 131,0.45);
    border-radius: 5px;
    padding: 3% 35%;
    font-weight: 600;
}
.left-navbar{
    display: none;
}
.home-container{
    width: 100%;
}
.addnote-container{
    padding: 1%;
}
.add-note-option{
    border: 2px solid rgba(190, 129, 131,0.45);
    border-radius: 5px;
    padding: 3% 10%;
    width: 100%;
}
.note-detail-container{
    margin-top: 10%;
}
.add-note-form-description{
    background-color: transparent;
    width: 100%;
    font-size: 14px;
}
.hr-title{
    margin: 0px;
    color: rgb(174, 174, 174);
    width: 50%;
}
/* Alertbox */
.alert-box{
    width: 80%;
    margin:-40% 0 0 10%;
    height: 60px;
    z-index: 10;
}

.alert-container{
    background-color:rgba(190, 129, 131,0.4) ;
    border: 1px solid rgba(190, 129, 131,0.45);
    border-radius: 5px;
    animation: fadeIn 2s ease ;

}
@keyframes fadeIn {
    0% {opacity: 1;}
    20% {opacity: 1 ;}
    40% {opacity: 0.8;}
    100% {opacity: 0;}
 } 
.clipboard-icon{
    color: rgb(190,129,131);
    padding: 0% 3%;
}
.add-note-form{
    margin-top: 2%;
    font-size: 18px;
}
 }
