/* noteItem */
.del-edit-btn{
    cursor: pointer;
}
.card-title{
    font-size: 18px;
    font-weight: 600;
}
.date{
    margin: 1% 12% 1% 0;
    font-size: 11px;
    font-weight: 400;
}
.hr-title{
    margin: 0px;
    color: rgb(174, 174, 174);
    width: 20%;
}
.card-text{
    padding-top: 1%;
    min-height: 80px;
}
.date-tag{
    font-size: 14px;
    margin-bottom: 0%;
    height: 20px;
}


/* Alert */
.close-btn-alert{
    border: none;
    background-color: transparent;
}
/* Navigation Bar */
.navbar{
    height: 60px;
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(231, 231, 231);
    box-shadow: 0px 1px 5px #00000033;

}
.navbar-brand{
    padding-left: 2%;
    padding-top: 0.5%;
    font-family: 'League Spartan', sans-serif;
    font-size: 28px;
}
.navbar-nav{
    margin-left: 5%;
}
.span-navbar-brand{
    font-weight: 700;
    color: rgb(190,129,131);
}
/* form position */
.auth-form{
    width: 70%;
}
.add-note-form{
    border: none !important;
    border-bottom: 1px solid rgb(212, 212, 212) !important;
    border-radius: 0%;
}


.add-note-form:focus {
    outline: none !important;
    border-bottom: 1px solid rgb(212, 212, 212) !important;
} 
.add-note-form-description{
    border: none !important;
    border-radius: 0%;
}
.add-note-form-description:focus {
    outline: none !important;
} 
.tag-label{
    padding-top: 20%;
}
.tag-input{
    width: 20%;
}
.btn-editnote{
    background-color:rgba(190, 129, 131,0.8);
    color: white;
    border: none;
}
.btn-addnote{
    background-color:rgba(190, 129, 131,1);
    color: white;
    border: none;
}
.btn-addnote:disabled{
    background-color:rgba(190, 129, 131,0.8);
    color: white;
    border: none;
}
.btn-addnote:hover{
    background-color:rgba(190, 129, 131,0.9);
    color: white;
    border: none;
}
.btn-editnote:hover{
    background-color:rgba(190, 129, 131,0.6);
    color: white;
    border: none;
}
.delete-btn{
    background-color:rgba(190, 129, 131,0.5);
}
.btn-light{
    background-color: rgb(218, 218, 218);

}
.edit-delete-btn{
    padding-top: 30%;
}
/* LeftNavbar */
.left-navbar{
    
    width: 15% !important;
    border-right:1px solid rgb(231, 231, 231);
    height: 500px;
}
.home-container{
    margin-left: 30%;
    width: 80%;
}
.addnote-container{
    padding: 1%;
    height: 500px;
}
/* note detail */
.detail-container{
    display:block;
    width: 90%;
    padding: 3% 1%;
    height: 500px;

}
.detail-title{
    border: none !important;
}
.note-detail-container{
    position: absolute;
    width: 100%;
    margin-top: 0%;
}

/* Alertbox */
.alert-box{
    float: right;
    width: 20%;
    margin:1%;
    height: 60px;
    z-index: 10;
}
.alert-container{
    background-color:rgba(190, 129, 131,0.4) ;
    border: 1px solid rgba(190, 129, 131,0.5);
    border-radius: 15px 2px;
}