.log-sign-container{
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin: 3% 0 0 6%;
}
.signup-container{
    width: 40%;
}
.login-label{
    margin: 5% 0%;
}
.design-container{
    width: 40%;
}
.form-control:focus {
    border-color: rgb(190,129,131);
    box-shadow: 0 0 0 0.1rem rgba(190, 129, 131, 0.25);
} 
.form-control:focus:active {
    background-color:none!important;
  }
/* button control */
.signup-btn{
    background-color:rgba(190, 129, 131,1);
    color: white;
    border: none;
}
.signup-btn:hover{
    background-color:rgba(190, 129, 131, 0.8);
    color: black;
    border: none;
}
.signup-btn:active{
    background-color:rgba(190, 129, 131,0.2);
    color: white;
    border: none;
}
.login-btn-form{
    background-color: rgb(38,50,56);
    color: white;
}
.login-btn{
   background-color: rgb(38,50,56);
   color: white;
}
.login-btn:hover{
    background-color: rgba(38,50,56,0.8);
    color: white;
 }

/* auth-design */
.img-animation-container{
    position: relative;
    height: 500px;
}
.signup-img{
    width: 30%;
    position: absolute;
    object-fit: contain;
    margin:2% 4%;
    animation: animate 2s infinite ease alternate;
    z-index: 1;
}
@keyframes animate {
    100%{
        transform: translateY(10px);
    }
}
.img-animation-container-login{
    height: 500px;
}
.bottom-text{
    padding-top: 7%;

}
.text-center-2{
text-align: center;
}
.text-center-mob{
    display: none;
}
/* authStyle.css */
.slide-appear,
.slide-enter {
  transform: translateY(100%);
}

.slide-appear-active,
.slide-enter-active {
  transform: translateY(0);
  transition: transform 2s ease;
}

.slide-exit {
  transform: translateY(0);
}

.slide-exit-active {
  transform: translateY(-100%);
  transition: transform 2s ease;
}



@media (max-width: 1000px){
.log-sign-container{
    margin: 18% 0% 0% 0%;
    padding-left: 6%;
    display: block;
}
 .auth-form{
    margin-top: 5%;
}
.text-center{
    display: none;
}
.bottom-text{
    display: none;
}
.design-container{
    width: 100%;
    margin-top: -10%;
}


.img-animation-container-login{
display: none;
}
.img-animation-container{
    display: none;
    }
    
.signup-img{
    width: 50%;
    position: relative;
    object-fit: contain;
    margin:0% 15%;
    animation: animate 2s infinite ease alternate;
    z-index: 1;
}
@keyframes animate {
    100%{
        transform: translateY(5px);
    }
}
.text-center-2{
    font-size: 14px;
    text-align: start;
} 
.text-center-mob{
    display: block;
    font-weight: 600;
}
.form-text{
    font-size: 11px;
}
.signup-container{
    width: 100%;
}
.signup-container h2{
display: none;}
.login-label{
    margin: 1% 0%;
}
/* button control */
.signup-btn{
    background-color:rgba(190, 129, 131,1);
    color: white;
    border: none;
}
.signup-btn:hover{
    background-color:rgba(190, 129, 131, 0.8);
    color: black;
    border: none;
}
.signup-btn:active{
    background-color:rgba(190, 129, 131,0.2);
    color: white;
    border: none;
}
.login-btn-form{
    padding: 2% 10%;
    background-color: rgb(38,50,56);
    color: white;
}
.login-btn-form:hover{
    background-color: rgba(38,50,56,0.8);
    color: white;
 }

}